@{
    ViewData["Title"] = "Home Page";
}
<body>
  <header>
    <div class="name">
      <p>Cuvette</p>
    </
<body>
  <header>
    <div class="name">
      <p>Cuvette</p>
    </div>
    <div class="navigation">
      <nav>
      <a class="company" href="#">Are you a company ?</a>
      <button class="Login" type="submit"><a href="Login">Log In</a></button>
      <button class="signup" type="submit"><a href="Sign up">Sign Up</a></button>
    </nav>
    </div>
  </header>
</body>
<!--
    ==========================
    Work on internhub home page main components/sections
                                             =============================
-->
