 @{
    ViewData["Title"] = "Home Page";
}

<!--
    ==============
    Work on the home page content here
                    ============================
-->
<div class="container-fluid pt-md-3 ps-1 pe-0 banner-container">
    <div class="grid-container ps-md-2 h-100 mx-0">
        <div class="hero-container">
            <div class="col-11 col-xxl-10 pt-lg-5 pt-md-4">
                <h1 class="fw-bold">
                    Work <span style="color:#007fff;">Remotely</span> from your home or any other places
                </h1>
            </div>
            <div>
                <p class="text-muted hero-content col-12" style="color: grey;">We curate the best digital jobs
                    for those who
                    are
                    looking to
                    start their career in
                    the tech industry.
                </p>
            </div>
            <div class="form-container">
                <form class="col-lg-12 col-md-5">
                    <input type="email" placeholder="Enter your email" class="ps-2 email-input">
                    <input type="button" class="py-1 px-2 shadow home-submit-btn" value="Get Started">
                </form>
            </div>
        </div>
        <div class="hero-banner-img pt-lg-2 pt-md-5 px-0 " style="cursor:pointer;">
            <img src="~/images/work.webp" class="col-12 rounded-2" alt="Work Image" asp-append-version="true">
        </div>
    </div>
</div>
<div class="container-fluid mt-5 pt-5 about-content">
    <div class="row mx-0">
        <div class="col-lg-6 col-md-12">
            <img src="~/images/work-3.webp" class="col-12" alt="Work Image" asp-append-version="true">
        </div>
        <div class="col-lg-6 col-md-12">
            <div>
                <h1 class="fw-bold" style="">Problems faced by the Developers</h1>
            </div>
            <div>
                <p>Web3 Enthusiasts don't have:</p>
            </div>
            <div class="col-10">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid about-content">
    <div class="grid-container mx-0">
        <div class="col-12 ps-2 grid-col">
            <div class="col-lg-12 col-md-12">
                <h1 class="fw-bold" style="">Solutions by Cryptonaukri for developers</h1>
            </div>
            <div>
                <p>Cryptonaukri provides</p>
            </div>
            <div class="col-10">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                </ul>
            </div>
        </div>
        <div class="about-img">
            <img src="~/images/work-2.webp" class="col-12" alt="Work Image" asp-append-version="true">
        </div>
    </div>
</div>
<div class="container-fluid about-content">
    <div class="row mx-0">
        <div class="col-lg-6 col-md-12">
            <img src="~/images/work-1.webp" class="col-12" alt="Work Image" asp-append-version="true">
        </div>
        <div class="col-lg-6 col-md-12">
            <div>
                <h1 class="fw-bold" style="">Problems faced by businesses</h1>
            </div>
            <div>
                <p>Web3 Businesses in general</p>
            </div>
            <div class="col-10">
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
