@{
    ViewData["Title"] = "Home Page";
}
<bod<!DOCTYPE html>
<html lang="en">
<head>
<title >Rometi's Enterprise </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="Css/style.css" type="text/css" media="all" />
<head>
<body>
  <header>
    <div class="name">
      <p>Cuvette</p>
    </div>
      <nav>
      <a class="company" href="#">Are you a company ?</a>
      <button class="Login" type="submit"><a href="Login">Log In</a></button>
      <button class="signup" type="submit"><a href="Sign up">Sign Up</a></button>
    </nav>
  </header>
  <footer>
    <div>
      <p class="Cuvette">Cuvette</p>
      <p class="Contact"><span>Contact</span> | Indiranagar, Bangalore <br />Copyright 2022 Cuvette - All rights reserved</p>
    </div>
  </footer>
</body>
<!--
    ==========================
    Work on internhub home page main components/sections
                                             =============================
-->
