@{
    ViewData["Title"] = "Home Page";
}
<bod<!DOCTYPE html>
<html lang="en">
<head>
<title>INTERNHUB</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
<body>
  <header>
      <div class="Navbar_container">
        <nav> <!-- Use FLEX when styling with CSS -->
            <a><img class="nav_logo" src="" alt=""></a>
            
        </nav>
    </div>
  </header>
  
</body>
<!--
    ==========================
    Work on internhub home page main components/sections
                                             =============================
-->
    

