@{
    ViewData["Title"] = "Applied Jobs";
}
<!--
    ==========================
    Work on Aplied Jobs page
                                =============================
-->
<div class="container-fluid mt-5 row-container">
    <div class="row mx-0">
        <div class="col-12 box-desc-container">
            <div class="box box-desc" data-id="back-end">
                <div class="col-xl-12 col-lg-12 h-100 col-md-12 mt-0 mb-0 m-md-auto mx-1 mb-md-2">
                    <div class="mb-0 col-md-12" style="height:100%;">
                        <div class="border-2 rounded-1 shadow ms-lg-1 w-100 border mb-lg-3 mb-xl-3 mb-xxl-3 position-relative d-flex flex-wrap"
                            style="border-color: #e5f8ff;">

                            <div class="row align-items-center col-xl-6 col-lg-6 col-md-12">
                                <span style="flex: 1;"
                                    class="col-lg-2 col-xxl-1 col-xl-2 mt-0 col-md-2 me-md-1 h-50 desc-img d-lg-block logo me-lg-0 pe-0">
                                    <img src="~/images/Evolvfront.jpg"
                                        class=" col-xl-6 col-xxl-5 col-lg-8 col-md-7 apply-img ms-lg-1 ms-xl-1 ms-md-2 me-lg-0 h-50"
                                        style="border-radius:100px;" asp-append-version="true">
                                </span>
                                <span class="d-block col-xl-10 px-0 col-lg-10 col-md-9 job-title-desc mt-4 ms-0">
                                    <p style="color: #007fff; font-size: 0.8rem;" class="mb-0">EVOLVFIT PLC| India</p>
                                    <h5 style="font-size:1.1rem;flex:1;font-weight:bold;">Back-end Developer
                                    </h5>
                                    <h6 class="text-muted text-start">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.</h6>
                                </span>
                                <span class="alt-share-btn d-lg-none d-xl-none d-xxl-none d-md-block col-md-1 ps-0">
                                    <a href="#" style="font-size: 0.9rem;" class="share"><i class="bi bi-share"></i></a>
                                </span>
                            </div>


                            <div
                                class="mx-2 ms-md-0 mt-3 deadline-container-container flex-wrap d-flex
                                        col-lg-6 col-xl-6 col-md-12 flex-lg-nowrap flex-md-wrap justify-content-md-center justify-content-between mb-4">
                                <span class="me-0 col-xl-12 col-lg-12 deadline-container col-md-12">

                                    <span
                                        class="ms-1 ms-md-0 col-xl-12 col-lg-12 col-md-12 mt-md-2 d-flex apply-desc-container m-auto justify-content-lg-around justify-content-md-center">
                                        <a href="#" style="font-size: 0.9rem;"
                                            class="share d-lg-inline d-xl-inline d-md-none share-desc ms-xl-4 ms-lg-2"><i
                                                class="bi bi-share"></i></a>

                                        <a href="#"
                                            class="fw-bold apply col-md-4 text-md-center  p-1 pb-1 text-white col-lg-5 col-xl-4 border border-1 pt-lg-2 pb-lg-2 pt-md-1 pb-md-1 text-decoration-none mt-0 h-25 text-capitalize pb-0 ms-xl-5 ms-lg-3 check-app"
                                            style="font-size:0.9rem; border-radius:5px;letter-spacing:1px;background:#142683;">Check
                                            Details </a>
                                        <p class="deadline text-end text-dark ms-md-2 col-lg-6 col-md-4 deadline-desc app-time"
                                            style="font-size: 0.9rem;">
                                            Applied 3days ago
                                        </p>

                                    </span>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12 box-desc-container">
            <div class="box box-desc" data-id="back-end">
                <div class="col-xl-12 col-lg-12 h-100 col-md-12 mt-0 mb-0 m-md-auto mx-1 mb-md-2">
                    <div class="mb-0 col-md-12" style="height:100%;">
                        <div class="border-2 rounded-1 shadow ms-lg-1 w-100 border mb-lg-3 mb-xl-3 mb-xxl-3 position-relative d-flex flex-wrap"
                            style="border-color: #e5f8ff;">

                            <div class="row align-items-center col-xl-6 col-lg-6 col-md-12">
                                <span style="flex: 1;"
                                    class="col-lg-2 col-xxl-1 col-xl-2 mt-0 col-md-2 me-md-1 h-50 desc-img d-lg-block logo me-lg-0 pe-0">
                                    <img src="~/images/10XFull.jpg"
                                        class=" col-xl-6 col-xxl-5 col-lg-8 col-md-7 apply-img ms-lg-1 ms-xl-1 ms-md-2 me-lg-0 h-50"
                                        style="border-radius:100px;" asp-append-version="true">
                                </span>
                                <span class="d-block col-xl-10 px-0 col-lg-10 col-md-9 job-title-desc mt-4 ms-0">
                                    <p style="color: #007fff; font-size: 0.8rem;" class="mb-0">EVOLVFIT PLC| India</p>
                                    <h5 style="font-size:1.1rem;flex:1;font-weight:bold;">Back-end Developer
                                    </h5>
                                    <h6 class="text-muted text-start">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.</h6>
                                </span>
                                <span class="alt-share-btn d-lg-none d-xl-none d-xxl-none d-md-block col-md-1 ps-0">
                                    <a href="#" style="font-size: 0.9rem;" class="share"><i class="bi bi-share"></i></a>
                                </span>
                            </div>


                            <div
                                class="mx-2 ms-md-0 mt-3 deadline-container-container flex-wrap d-flex
                                        col-lg-6 col-xl-6 col-md-12 flex-lg-nowrap flex-md-wrap justify-content-md-center justify-content-between mb-4">
                                <span class="me-0 col-xl-12 col-lg-12 deadline-container col-md-12">

                                    <span
                                        class="ms-1 ms-md-0 col-xl-12 col-lg-12 col-md-12 mt-md-2 d-flex apply-desc-container m-auto justify-content-lg-around justify-content-md-center">
                                        <a href="#" style="font-size: 0.9rem;"
                                            class="share d-lg-inline d-xl-inline d-md-none share-desc ms-xl-4 ms-lg-2"><i
                                                class="bi bi-share"></i></a>

                                        <a href="#"
                                            class="fw-bold apply col-md-4 text-md-center  p-1 pb-1 text-white col-lg-5 col-xl-4 border border-1 pt-lg-2 pb-lg-2 pt-md-1 pb-md-1 text-decoration-none mt-0 h-25 text-capitalize pb-0 ms-xl-5 ms-lg-3 check-app"
                                            style="font-size:0.9rem; border-radius:5px;letter-spacing:1px;background:#142683;">Check
                                            Details </a>
                                        <p class="deadline text-end text-dark ms-md-2 col-lg-6 col-md-4 deadline-desc app-time"
                                            style="font-size: 0.9rem;">
                                            Applied 3days ago
                                        </p>

                                    </span>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
