@{
    ViewData["Title"] = "Internship Description";
}


<div class="w-100 mt-4">
    <div class="container-fluid h-100 px-lg-4">
        <div class="h-100 w-100">
            <div class="row pe-0">
                <div class="col-12">
                    <div class="box box-desc" data-id="back-end">
                        <div class="col-xl-12 col-lg-12 h-100 col-md-12 mt-0 mb-0 m-md-auto mx-1 mb-md-2">
                            <div class="mb-0 col-md-12" id="max-width" style="height:100%;">
                                <div class="border-1 rounded-1 ms-lg-1 w-100 border mb-lg-3 mb-xl-3 mb-xxl-3 position-relative"
                                    style="border-color: #e5f8ff;" id="text-box">
                                    <div class="level d-xxl-block d-xl-block d-lg-block d-md-none position-absolute text-capitalize border px-1"
                                        style="color:hsl(146,63%,48%); border-color: hsl(146,63%,48%);">
                                        <span style="font-size:20px"><i class="bi bi-reception-4 "></i></span>
                                        beginner<span style="font-size:15px;"><i class="ps-1 bi bi-info-circle"
                                                id="level-info"></i></span>
                                    </div>

                                    <div class="position-absolute d-block type-job">
                                        <p style="font-size:1rem; color:#445ee2; background:#d4e7fb7c; border-radius:5px;letter-spacing:1px"
                                            class="px-2">
                                            Remote</p>
                                    </div>
                                    <div class="row align-items-center">
                                        <span style="flex: 1;"
                                            class="col-lg-1 col-xl-1 mt-0 col-md-1 me-md-1 h-25 desc-img d-lg-block logo me-lg-0 pe-0">
                                            <img src="~/images/Evolvfront.jpg"
                                                class=" col-xl-7 col-lg-7 col-md-9 me-lg-0 h-50"
                                                style="border-radius:100px;" asp-append-version="true">
                                        </span>
                                        <span
                                            class="d-block col-xl-11 px-0 col-lg-11 col-md-10 job-title-desc mt-4 ms-0">
                                            <h5 style="font-size:1.1rem;flex:1;font-weight:bold;">Back-end Developer
                                            </h5>
                                            <h6 class="text-muted text-start">EVOLVFIT PRIVATE LIMITED | India</h6>
                                        </span>
                                        <span class="alt-share-btn d-lg-none d-xl-none d-xxl-none d-md-block col-md-1">
                                            <a href="#" style="font-size: 0.9rem;" class="share"><i
                                                    class="bi bi-share"></i></a>
                                        </span>
                                    </div>


                                    <div
                                        class="mx-2 ms-md-0 mt-3 deadline-container-container flex-wrap d-flex
                                        col-lg-12 col-xl-12 col-md-12 flex-lg-nowrap flex-md-wrap justify-content-md-center justify-content-between mb-4">
                                        <span class="me-0 col-xl-9 col-lg-9 deadline-container col-md-12">
                                            <p class="deadline text-lg-start text-xl-start ms-md-2 text-md-center deadline-desc"
                                                style="font-size: 0.9rem;color: #445ee2;">
                                                <span
                                                    class="fw-bold d-md-inline-block col-md-12 col-lg-1 text-lg-start d-lg-inline text-md-center app-no">100+
                                                    applicants</span>
                                                Apply by 1 August 22
                                                •
                                                Posted 1d ago
                                            </p>
                                        </span>
                                        <span
                                            class="ms-1 ms-md-0 col-xl-3 col-lg-3 col-md-12 mt-md-2 d-flex apply-desc-container m-auto justify-content-lg-around justify-content-md-center">
                                            <a href="#" style="font-size: 0.9rem;"
                                                class="share d-lg-inline d-xl-inline d-md-none share-desc"><i
                                                    class="bi bi-share"></i></a>

                                            <a href="#"
                                                class="fw-bold apply col-md-11 text-md-center apply-desc p-1 pb-1 text-white col-lg-8 col-xl-6 border border-1 pt-lg-2 pb-lg-2 pt-md-1 pb-md-1 text-decoration-none mt-0 h-25 text-capitalize pb-0"
                                                style="font-size:0.9rem; border-radius:5px;letter-spacing:1px;background:#142683;">Apply
                                                Now </a>

                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12" id="content2">
                    <div class="box box-desc" data-id="back-end">
                        <div
                            class="col-xl-12 col-lg-12 h-100 col-md-12 intern-container mt-0 mb-0 m-md-auto mx-1 mb-md-2">
                            <div class="mb-0" style="height:90%">
                                <div class="border-1 rounded-1 ms-lg-1 w-100 border h-100 intern-card mb-4"
                                    style="border-color: #e5f8ff;">

                                    <div class="mx-3 mt-3 gap-1 flex-wrap d-flex justify-content-between">
                                        <span>
                                            <p class=" text-muted mb-2" style="font-size: 0.88rem">
                                                Stipend per month
                                            </p>
                                            <h6 class="income">₹10K-17K</h6>
                                        </span>
                                        <span>
                                            <p class=" text-muted mb-2" style="font-size: 0.88rem">
                                                Duration
                                            </p>
                                            <h6 class="income">14 months</h6>
                                        </span>
                                        <span>
                                            <p class=" text-muted mb-2" style="font-size: 0.88rem">
                                                Mode
                                            </p>
                                            <h6 class="income">7-8 hours / day</h6>
                                        </span>
                                        <span>
                                            <p class=" text-muted mb-2" style="font-size: 0.88rem">
                                                Start Date
                                            </p>
                                            <h6 class="income">Immediate</h6>
                                        </span>
                                        <span>
                                            <p class=" text-muted mb-2" style="font-size: 0.88rem">
                                                Start Date
                                            </p>
                                            <h6 class="income">25 Aug 22</h6>
                                        </span>
                                        <span>
                                            <p class=" text-muted mb-2" style="font-size: 0.88rem">
                                                Positions
                                            </p>
                                            <h6 class="income">10</h6>
                                        </span>
                                        <span>
                                            <p class=" text-muted mb-2" style="font-size: 0.88rem">
                                                Job Offer
                                            </p>
                                            <h6 class="income">₹ 3 LPA - 6 LPA</h6>
                                        </span>
                                        <span>
                                            <p class=" text-muted mb-2" style="font-size: 0.88rem">
                                                Office Location
                                            </p>
                                            <h6 class="income">Chennai, India</h6>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row pe-0\">
                <div class="col-xl-8 col-desc col-md-12 col-lg-8">
                    <div class="box box-desc px-0 col-md-12" data-id="back-end">
                        <div
                            class="col-xl-12 px-0 col-lg-12 h-100 col-md-12 intern-container mt-0 mb-0 m-md-auto mx-1 mb-md-2">
                            <div class="mb-0 col-md-12" style="height:90%">
                                <div class="border-1 rounded-1 ms-lg-1 w-100 border h-100 ps-3 pt-4 intern-card mb-4"
                                    style=" border-color: #e5f8ff;">
                                    <h6 class="fw-bold mb-3">About Internship</h6>
                                    <h6 class="fw-bold mb-2">Responsibilities</h6>
                                    <ul class="d-block ps-3 pb-2">
                                        <li style="line-height: 2rem;">Design and implement APIs in support of front-end
                                            services
                                            and
                                            create a
                                            highly scalable, flexible, and secure backend.</li>
                                        <li style="line-height: 2rem;">Write clean code</li>
                                        <li style="line-height: 2rem;">Troubleshoot and debug</li>
                                        <li style="line-height: 2rem;">Build reusable code and libraries for future use
                                        </li>
                                        <li style="line-height: 2rem;">Writing reusable, testable, and efficient code
                                        </li>
                                        <li style="line-height: 2rem;">Design, develop and deployment of new components
                                            according to the requirement. Implementation of codes considering
                                            security and data protection.</li>
                                    </ul>
                                    <h6 class="fw-bold mb-2">Training</h6>
                                    <p style="line-height: 2rem;">We believe in continuous learning - reskilling and
                                        upskilling is vital for us. We will provide you with required
                                        training and exposure to grow into a full-stack developer which entails a good
                                        level of exposure to backend and
                                        background services.</p>
                                    <h6 class="fw-bold mb-2">Hiring Process</h6>
                                    <ul class="d-block ps-3 pb-2">
                                        <li style="line-height: 2rem;">Aptitude test (Virtual) - Assessment to test the
                                            coding skills, logical ability and comprehension</li>
                                        <li style="line-height: 2rem;">Programming assessment (Virtual)- Divided in two
                                            sections, Section 1 has multiple choice and open-ended coding
                                            questions, Section 2 needs you to solve a coding challenge in the language
                                            of your choice - C, C++, C#, Java, Java
                                            script, Python/li>
                                        <li style="line-height: 2rem;">Technical/HR Interview</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-desc col-md-12" data-id="back-end">
                        <div
                            class="col-xl-12 col-lg-12 h-100 col-md-12 intern-container mt-0 mb-0 m-md-auto col-md-6 mx-1 mb-md-2">
                            <div class="mb-0 col-md-12" style="height:90%">
                                <div class="border-1 rounded-1 ms-lg-1 w-100 border h-100 intern-card mb-4 pt-4"
                                    style=" border-color: #e5f8ff;">
                                    <div class="row">
                                        <div class="col-10 about-company">
                                            <h6 class="fw-bold col-xl-5 col-xxl-5 col-lg-6 col-md-6  ps-2 mb-2">About
                                                the Company
                                                Propel</h6>
                                            <ul class="d-flex other-links ps-2 gap-1">
                                                <li class="list-unstyled"><a href="#"
                                                        class=" text-decoration-none">Website</a>
                                                </li>
                                                •
                                                <li class="list-unstyled"><a href="#"
                                                        class=" text-decoration-none">LinkedIn</a>
                                                </li>
                                                •
                                                <li class="list-unstyled"><a href="#"
                                                        class=" text-decoration-none">Profile</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <span style="flex: 1;"
                                            class="col-lg-1 col-xl-1 mt-0 col-md-2 me-md-1 h-25 link-img d-lg-block d-md-block logo me-lg-0 pe-0">
                                            <img src="~/images/Evolvfront.jpg"
                                                class=" col-xl-4 col-lg-6 col-md-6 ms-md-2 ms-xl-3 me-lg-0 h-50"
                                                style="border-radius:100px;" asp-append-version="true">
                                        </span>
                                        <div>

                                        </div>
                                    </div>
                                    <p class="my-3 ps-2">Software as a Service • 51-200 employees</p>
                                    <p class="ps-2">At Propel we craft technology solutions to overcome business
                                        problems. We help
                                        our clients design and develop custom
                                        software solutions for today and tomorrow. We lead and advance client thinking,
                                        and we collaborate to create digital
                                        solutions that have a bigger and more lasting impact.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-desc col-md-12">
                    <div class="box w-100" data-id="back-end">
                        <div
                            class="col-xl-12 col-lg-12 h-100 col-md-12 intern-container mt-0 mb-0 m-md-auto col-md-6 mx-1 mb-md-2">
                            <div class="mb-0 w-100" style="height:90%">
                                <div class="border-1 pt-4 rounded-1 ms-lg-1 w-100 border h-100 intern-card mb-4"
                                    style=" border-color: #e5f8ff;">
                                    <h6 class="fw-bold mb-2 ps-2">Other Preferences</h6>
                                    <div class="row ps-2 flex-container justify-content-between">
                                        <span class="col-6">
                                            <p class="text-muted small mb-1">Minimum CGPA</p>
                                            <p>6</p>
                                        </span>
                                        <span class="pe-2 col-6">
                                            <p class="text-muted small mb-1">Year of Graduation</p>
                                            <p><span class="grey-back-desc py-1 px-xl-1"
                                                    style="border-radius: 0.9rem;">2022</span>
                                                <span class="grey-back-desc py-1 px-xl-1 "
                                                    style="border-radius: 0.9rem;">2023</span>
                                            </p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box w-100 col-md-12" data-id="back-end">
                        <div
                            class="col-xl-12 col-lg-12 h-100 col-md-12 intern-container mt-0 mb-0 m-md-auto col-md-6 mx-1 mb-md-2">
                            <div class="mb-0 w-100" style="height:90%">
                                <div class="border-1 pt-4 rounded-1 ms-lg-1 w-100 border h-100 intern-card mb-4"
                                    style=" border-color: #e5f8ff;">
                                    <h6 class="fw-bold mb-2 ps-2">Skills - Mandatory</h6>
                                    <div class="col-12 ps-2">
                                        <p class="grey-back-desc btn py-1 text-md-center px-1"
                                            style="border-radius: 0.9rem;">
                                            C/C++</p>
                                    </div>
                                    <h6 class="fw-bold mb-2 ps-2">Skills - Optiona</h6>
                                    <div class="row ps-2 flex-container">
                                        <div class="mb-0 col-12 mt-0">
                                            <p class="grey-back-desc text-center btn py-1"
                                                style="border-radius: 0.9rem;">
                                                Problem Solving</p>
                                        </div>
                                        <div class="mb-0 mt-0 col-12">
                                            <p class="grey-back-desc py-1 text-center btn "
                                                style="border-radius: 0.9rem;">Handle Pressure</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box w-100 col-md-12" data-id="back-end">
                        <div
                            class="col-xl-12 col-lg-12 h-100 col-md-12 intern-container mt-0 mb-0 m-md-auto col-md-6 mx-1 mb-md-2">
                            <div class="mb-0 w-100" style="height:90%">
                                <div class="border-1 pt-4 rounded-1 ms-lg-1 w-100 border h-100 intern-card mb-4"
                                    style=" border-color: #e5f8ff;">
                                    <h6 class="fw-bold mb-2 ps-2">Extra Benefits</h6>
                                    <div class="col-12 ps-2">
                                        <p class="grey-back-desc py-1 btn  text-center " style="border-radius: 0.9rem;">
                                            Job Offer</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>