/*
    Css for Intenhub
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --hero-img-bg: rgba(0, 97, 254, 0.06);
}
body {
  font-family: "DM Sans", sans-serif;
}

/*Navbar css start*/
header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: static;
  top: 0;
  position: sticky;
  left: 0;
  z-index: 103;
  box-shadow: 10px 2px #fff;
}

.logo {
  font-weight: bold;
  color: blue;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.layout-navbar {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav_content {
  color: black;
}
.nav_content:hover {
  color: black;
}

.layout-navbar li {
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.layout-navbar li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.signup,
.login {
  border-radius: 5px;
  padding: 5px 8px;
}

.login {
  border: 1px solid #007fff;
  color: #007fff;
}

.signup {
  border: 1px solid #007fff;
  background-color: #007fff;
  color: white;
}
.signup:hover {
  color: white;
}

.company {
  color: #007fff;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 950px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
  #hamburger-icon ul {
    background-color: #fff;
  }
}
/*Navbar css End*/

/*InternShip Page css start*/
.text-small {
  font-size: 0.635rem;
}
#scroll-items::-webkit-scrollbar {
  height: 0rem;
}
.income {
  font-weight: bold;
}
#scroll-items {
  scroll-behavior: smooth;
}
.apply {
  padding: 0.3rem 0.5rem !important;
  border-radius: 7px !important;
}

@media (min-width: 992px) {
  .deadline {
    font-size: 0.8rem;
    color: #445ee2;
  }
  .level {
    font-size: 1.1rem;
    left: 50vw;
    top: -9%;
  }
  .type-job {
    left: 72vw;
    top: -6%;
  }
}
.apply:hover {
  background: #3922c0 !important;
}

@media (max-width: 835px) {
  .deadline {
    font-size: 0.8rem;
    color: #445ee2;
  }
  .income {
    font-size: 0.8rem;
  }
  .intern-card {
    height: 70%;
  }
  .type-job {
    left: 75vw;
    top: -7%;
    font-size: 0.84rem;
  }
  .sticky-el {
    position: fixed !important;
    top: -15% !important;
    z-index: 0;
    background: white;
    width: 95% !important;
  }
}
.hero-banner-img {
  background: url("/wwwroot/images/essential-shorts-1.webp") no-repeat;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.share {
  font-size: 20px;
  height: 35px;
  width: 35px;
  border-radius: 20px;
  padding: 4px 5px 5px 5px;
}
.share:hover {
  background: #d4e7fb7c;
}

@media (max-width: 576px) {
  .type-job {
    left: 49vw;
    top: -6%;
    font-size: 0.84rem;
  }
  .sticky-el {
    position: fixed !important;
    top: -24% !important;
    z-index: 100;
    background: white;
    width: 90% !important;
  }
  .row .logo {
    flex: 0 0 auto;
    width: 20%;
    margin-left: 10px;
    margin-right: 5px !important;
  }
  .row .logo > img {
    width: 100%;
  }
  .job-title {
    flex: 0 0 auto;
    width: 50%;
    margin-top: 1.5rem;
  }
  .job-title h5,
  .job-title h6 {
    font-size: 0.83rem !important;
  }
  .intern-container {
    margin: auto;
  }
  .intern-card {
    width: 40%;
  }
  .box {
    width: 90%;
  }
  .job-type {
    flex: 0 0 auto;
    width: 33.33333333%;
    justify-content: space-between !important;
  }
  .job-type > p {
    font-size: 0.66rem !important;
  }
  .job-type > p > i {
    font-size: 12px !important;
  }
  .share {
    margin-top: -10px;
    margin-right: 10px;
  }
  .share > i {
    font-size: 17px;
  }
  .deadline-container + span {
    width: 41%;
    height: 100%;
  }
  .wrapper > .box {
    width: 72% !important;
  }
  .job-title + span {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.bi-info-circle {
  color: grey;
  cursor: pointer;
  font-size: 15px !important;
  position: relative;
}
.bi-info-circle::after {
  content: "Location of this internship can be either Remote or In-Office";
  position: absolute;
  font-size: 0.8rem;
  font-style: normal;
  padding: 15px 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.836);
  top: 180%;
  right: 20%;
  width: 240px;
  display: none;
  height: 140px;
  border-radius: 2px;
}
.bi-info-circle:hover::after {
  display: block;
}
#level-info::after {
  content: "The candidate should have at least one project on relevant tech stack";
  position: absolute;
  font-size: 0.8rem;
  font-style: normal;
  padding: 15px 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.836);
  top: 180%;
  right: 20%;
  width: 240px;
  display: none;
  height: 140px;
  text-transform: none !important;
  border-radius: 2px;
}
#level-info:hover::after {
  display: block;
}
/*InternShip Page css end*/

/* Internship Description Page Start*/
.grey-back-desc {
  background: hsl(220, 23%, 97%);
}
@media (min-width: 1024px) {
  .level {
    font-size: 1.1rem;
    left: 68vw;
    top: -9%;
  }
  .type-job {
    left: 82vw;
    top: -7%;
  }
}
@media (max-width: 576px) {
  .level {
    display: none !important;
  }
  .desc-img {
    width: 23% !important;
    padding-left: 15px;
  }
  .desc-img > img {
    width: 100% !important;
  }
  .job-title-desc {
    width: 60%;
  }
  .app-no {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 8px !important;
  }
  .intern-container-desc {
    width: 100%;
  }
  .job-title-desc h5,
  .job-title-desc h6 {
    font-size: 0.9rem !important;
  }
  .alt-share-btn {
    width: 17%;
    margin-right: 0.2rem;
    display: block !important;
  }
  .share-desc {
    display: none;
  }
  .other-links {
    font-size: 0.85rem;
  }
  .about-company {
    width: 75%;
  }
  .apply-desc-container {
    width: 100% !important;
  }
  .deadline-container-container {
    width: 100%;
  }
  .flex-container span {
    width: 100%;
  }
  .apply-desc {
    text-align: center;
    width: 90%;
  }
  .box-desc {
    width: 100%;
  }
  .col-desc {
    width: 100%;
    /* padding-right: 0.2rem; */
  }
  .link-img {
    width: 25%;
  }
  .link-img > img {
    width: 70% !important;
  }
  .grey-1 p {
    width: 22% !important;
  }
  .grey-2 p,
  .grey-3 p {
    width: 55% !important;
  }
  .grey-4 {
    width: 32% !important;
  }
}
/* Internship Description Page End */

/* Home Page & Applied Page Css start */
.home-submit-btn {
  z-index: 1;
  border-radius: 30px;
  width: 5.7rem;
  font-size: small;
  background: #445ee2;
  border: 2px solid #445ee2;
  color: white;
  transition: all 0.2s linear;
}

.home-submit-btn:hover {
  border: 2px solid #445ee2;
  background: white;
  color: #445ee2;
}
@media (min-width: 1024px) {
  .email-input {
    height: 3em;
    width: 18rem;
    z-index: -1;
  }
  .home-submit-btn {
    margin-left: -5.4rem !important;
    margin-top: 0.1rem !important;
  }
}
.about-content h1 {
  color: #3f5ae6;
}
.email-input {
  outline: none;
  border-radius: 30px;
  background: #d4e7fb7c;
  border: none;
  font-size: 0.8rem;
}
@media (max-width: 576px) {
  .email-input {
    height: 2.55em;
    width: 14rem;
  }
  .home-submit-btn {
    margin-left: -5.5rem;
    font-size: 0.8rem;
    width: 5rem;
    padding-left: 0.4rem !important;
  }
  .apply-desc-container {
    flex-wrap: wrap;
  }
  .check-app {
    text-align: center;
    width: 100% !important;
  }
  .app-time {
    text-align: center !important;
    width: 100% !important;
  }
  .hero-banner-img {
    grid-row: 1;
    margin-bottom: 2rem;
  }
  .about-img {
    grid-row: 1;
  }
  .grid-col {
    padding-left: 1rem;
  }
  .hero-container {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .hero-container > div > h1 {
    font-size: 1.6rem;
  }
  .hero-content {
    font-size: 0.9rem;
  }
  .grid-container {
    grid-template-columns: none !important;
    grid-auto-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
@media (max-width: 375px) {
  .banner-container {
    padding-left: 0.2rem;
  }
  .banner-container > div > div {
    padding-left: 0rem;
  }
  .email-input {
    width: 13rem;
    font-size: 0.8rem;
    padding: 0.3rem 0 0.3rem 0.4rem !important;
  }
  .home-submit-btn {
    margin-left: -5.4rem;
    font-size: 0.78rem;
    margin-top: 0.12rem;
  }
  .box-desc-container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .apply-img {
    height: 40% !important;
  }
}
@media (max-width: 320px) {
  .email-input {
    width: 11rem;
    padding-left: 0.5rem !important;
    font-size: 0.7rem;
  }
  .home-submit-btn {
    width: 4.3rem;
    font-size: 0.69rem;
    margin-left: -4.4rem;
    margin-top: 0.08rem;
    padding: 0.3rem 0 0.3rem 0 !important;
  }
  .form-container {
    padding: auto 0rem;
  }
  .form-container > form {
    width: 100%;
  }
  .row-container {
    padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
  }
  .apply-img {
    height: 30% !important;
  }
}
@media (min-width: 768px) {
  .email-input {
    height: 2.55em;
    width: 16rem;
  }
  .home-submit-btn {
    margin-left: 10.2rem;
    margin-top: -1.94rem;
    position: absolute;
  }
  .grid-col {
    padding-left: 1rem;
  }
}
@media (max-width: 768px) {
  .about-img {
    grid-row: 1;
  }
  .about-content > .grid-container {
    grid-template-columns: none !important;
    grid-auto-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}
.about-content {
  opacity: 0;
  transition: all 0.4s linear;
}
.show {
  opacity: 1;
}

/* Home Page & Applied Css end */
