/*
    Css for Intenhub
*/
*{*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body{
  background-color: rgb(220, 220, 220);
  font-family: Helvetia, Sans-Serif, Arial;
  font-size: 16px;
}
header{
  display: flex;
  background-color: white;
  padding: 1em 5em;
  justify-content: space-between;
}
.name{
  font-family: Sans-Serif, Helvetia, Arial;
  font-size: 1.5em;
  text-align: center;
}
nav{
  font-family: Sans-Serif, Helvetia, Arial;
  font-size: 1em;
  text-align: center;
  justify-content: center;
}
.company{
  color: #007FFF;
  font-weight: bold;
  font-family: Tahoma;
  margin: 0em 1em;
}
button{
  border-radius: 5px;
  padding: 0.5em 2em;
  margin: 0em 0.5em;
}
.login{
  background-color: white;
  border-color: #007FFF
}
.login a{
  color: #007FFF;
}
.signup{
  background-color: #007FFF;
  border-color: #007FFF;
}
.signup a{
  color: white;
}
