
@{
    ViewData["Title"] = "Post Internship";
}


  <div class="body">
    <div class="header">
      <h1 class="text-primary">Internhub</h1>
    </div>
    <div class="back">
      <a asp-area="Company" class="btn btn-primary text-white" asp-action="Index" asp-controller="Home"> Back</a>
    </div>
    <div class="addJob">
      <h2>Add Job</h2>
    </div>
    <div class="main">
      <form asp-action="" method="post" enctype="multipart/form-data" accept-charset="utf-8">
        <div class="formContainer">
          <div class="section1">
            <div class="form1">
              <label for="jobTitle">Job Title</label><br>
              <input type="text" name="jobTitle" id="jobTitle" placeholder="Web Developer"><br><br>
            </div>
            <div class="form2">
              <label for="NOP">Number Of Post</label><br>
              <input type="number" name="NOP" id="NOP" placeholder="3"><br><br>
            </div>
          </div>
          <div class="section2">
            <label for="Description">Description</label><br>
            <textarea name="Description" id=Description rows="2" cols="50" placeholder="yhdyth"></textarea><br><br>
          </div>
          <div class="section1">
           <div class="form1">
              <label for="Qualification">Qualification/Education Required</label><br>
              <input type="text" name="Qualification" id="Qualification" placeholder="BCA"><br><br>
              <label for="SR">Specilaization Required</label><br />
              <textarea name="SR" id=SR rows="2" cols="50" placeholder="C#, OOP"></textarea><br /><br />
              <label for="Salary">Salary</label><br />
              <input type="alphanumeric" name="Salary" id="Salary" placeholder="15000/month" /><br /><br />
              <label for="CON">Company/Organisation Name</label><br />
              <input type="text" name="CON" id="CON" placeholder="Test Company" /><br /><br />
              <label for="Website">Website</label><br />
              <input type="text" name="Website" id="Website" placeholder="Enter Website" /><br /><br />
          </div>
          <div class="form2">
            <label for="Experience">Experience Required</label>
            <input type="alphanumeric" name="Experience" id="Experience"><br><br>
            <label for="LD">Last date to apply</label><br />
            <input type="date" name="LD" id="LD" placeholder="31/08/2021" /><br /><br />
            <label for="jobType">Job Type</label><br /> 
            <select name="jobType" id="jobType" class="form-select" asp-items="@ViewBag.JobType">
                <option value="Select job type" selected disabled>Select JobType</option>
            </select><br /><br />
            <label for="companyLogo">Company/Organization Logo</label><br />
            <input type="file" name="companyLogo" id="companyLogo" placeholder="No file Choosen" /><br /><br />
            <label for="email">Email</label><br />
            <input type="email" name="email" id="email" placeholder="anilmaurya8976@gmail.com" /><br /><br>
          </div>
        </div>
        <div class="section2">
          <label for="Address">Address:</label><br>
          <textarea name="Address" id=Address rows="2" cols="31"placeholder="C.P. Talao, Rd No. 27, Behind Sion Garage, Near Shiv Temple, Wagle Estate, Thane-West"></textarea><br><br>
        </div>
        <div class="section1">
          <div class="form1">
            <label for="Country">Country</label><br>
            <select asp-items="@ViewBag.Country" class="form-select" type="text" name="Country">
                <option value="Select Country" selected disabled>Select Country</option>
            </select>
            <br><br>
          </div>
          <div class="form2">
            <label for="State">State</label><br>
            <input type="text" name="State" id="State" placeholder="Lagos"><br><br>
          </div>
        </div>  
        <div class="post">
          <input type="submit" class="btn btn-primary text-white" value="Post">
        </div>
        </div>
      </form>
    </div>
  </div>
