
@{
    ViewData["Title"] = "Students Resumes";
}

<h1>Students Resumes</h1>

<div class="table">
      <table>
        <tr>
          <th class="sn">Sr.No</th>
          <th>Company Name</th>
          <th>Job Title</th>
          <th>User Name</th>
          <th>User Email</th>
          <th>Mobile Number</th>
          <th>Resume</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td class="sn">1.</td>
          <td>Abc Infotech Services Pvt Ltd</td>
          <td>MIS Executive</td>
          <td>Anilkumar Maurya</td>
          <td>anilmaurya8976@gmail.com</td>
          <td>8976686900</td>
          <td class="download"><i class="fa-solid fa-download"></i><br>Download</td>
          <td class="icons"><i class="fa-solid fa-trash-can"></i></td>
        </tr>
        <tr>
          <td class="sn">2.</td>
          <td>Test Company2</td>
          <td>Backend Developer</td>
          <td>Anil Maurya</td>
          <td>anilmaurya8976@gmail.com</td>
          <td>1234567890</td>
          <td class="download"><i class="fa-solid fa-download"></i><br>Download</td>
          <td class="icons"><i class="fa-solid fa-trash-can"></i></td>
        </tr>
        <tr>
          <td class="sn">3.</td>
          <td>Test Company</td>
          <td>Web Developer</td>
          <td>Anilkumar Maurya</td>
          <td>anilmaurya8976@gmail.com</td>
          <td>8976686900</td>
          <td class="download"><i class="fa-solid fa-download"></i><br>Download</td>
          <td  class="icons"><i class="fa-solid fa-trash-can"></i></td>
        </tr>
        <tr>
          <td class="sn">4.</td>
          <td>Test Company</td>
          <td>Web Developer</td>
          <td>Rahul Maurya</td>
          <td>anilmaurya89766@gmail.com</td>
          <td>1234567890</td>
          <td class="download"><i class="fa-solid fa-download"></i><br>Download</td>
          <td class="icons"><i class="fa-solid fa-trash-can"></i></td>
        </tr>
        <tr>
          <td class="sn">5.</td>
          <td>Test Company</td>
          <td>Full Stack Developer</td>
          <td>Anil Maurya</td>
          <td>anilmaurya8976@gmail.com</td>
          <td>1234567890</td>
          <td class="download"><i class="fa-solid fa-download"></i><br>Download</td>
          <td class="icons"><i class="fa-solid fa-trash-can"></i></td>
        </tr>
      </table>
    </div>
